<main role="main">

	<section class="jumbotron text-center">
		<div class="container">
			<h1 class="jumbotron-heading">Choose your avatar!</h1>
		</div>
	</section>
</main>


<div class="album">
	<div class="container">

		<div class="row">

			<div class="col-md-3">
				<div class="card mb-3 border-dark">
					<a href="/shipselect">
						<img class="card-img-top" src="./images/hermes.png" alt="Card image cap">
					</a>
					<!-- <div class="card-body">
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

							</div> -->
					<!-- </div> -->
				</div>
			</div>


			<div class="col-md-3">
				<div class="card mb-3 border-dark">
					<a href="/shipselect">
						<img class="card-img-top" src="./images/kelly.jpg" alt="Card image cap">
					</a>
					<!-- <div class="card-body">
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

						</div> -->
				</div>
			</div>


			<div class="col-md-3">
				<div class="card mb-3 box-shadow border-dark">
					<a href="/shipselect">
						<img class="card-img-top border-dark" src="images/leloofull.jpg" alt="Card image cap">
					</a>
					<!-- <div class="card-body">
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

						</div> -->
				</div>
			</div>


			<div class="col-md-3">
				<div class="card mb-3 box-shadow border-dark">
					<a href="/shipselect">
						<img class="card-img-top border-dark" src="images/Kaylee.jpg" alt="Card image cap">
					</a>
					<!-- <div class="card-body">
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

						</div> -->
				</div>
			</div>

			<div class="col-md-3">
				<div class="card mb-3  border-dark">
					<a href="/shipselect">
						<img class="card-img-top" src="images/zoidberg.jpg" alt="Card image cap">
					</a>
					<!-- <div class="card-body">
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

						</div> -->
				</div>
			</div>

			<div class="col-md-3">
				<div class="card mb-3 box-shadow border-dark">
					<a href="/shipselect">
						<img class="card-img-top" src="./GIR.png" alt="Card image cap">
					</a>
					<!-- <div class="card-body">
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

						</div> -->
				</div>
			</div>

			<div class="col-md-3">
				<div class="card mb-3 box-shadow border-dark">
					<a href="/shipselect">
						<img class="card-img-top" src="./images/master_chief.jpg" alt="Card image cap">
					</a>
					<!-- <div class="card-body">
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

						</div> -->
				</div>
			</div>

			<div class="col-md-3">
				<div class="card mb-3 box-shadow border-dark">
					<a href="/shipselect">
						<img class="card-img-top" src="images/river-tam.jpg" alt="Card image cap">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>