<main role="main">

	{{!--
	<div class="jumbotron text-center">
		<h1>Choose your avatar!</h1>
	</div> --}}


	<div class="album">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="card mb-3 box-shadow border-dark">
						<a id="charId">
							<img class="img-fluid card-img-top" src="./images/hermes.png" alt="Card image cap">
						</a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card mb-3 box-shadow border-dark">
						<a class="charId">
							<img class="img-fluid card-img-top" src="./images/kelly.jpg" alt="Card image cap">
						</a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card mb-3 box-shadow border-dark">
						<a class="charId">
							<img class="img-fluid card-img-top border-dark" src="./images/leloofull.jpg" alt="Card image cap">
						</a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card mb-3 box-shadow border-dark">
						<a class="charId">
							<img class="img-fluid card-img-top border-dark" src="./images/Kaylee.jpg" alt="Card image cap">
						</a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card mb-3 box-shadow border-dark">
						<a class="charId">
							<img class="img-fluid card-img-top" src="./images/zoidberg.jpg" alt="Card image cap">
						</a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card mb-3 box-shadow border-dark">
						<a class="charId">
							<img class="img-fluid card-img-top" src="./images/GIR.png" alt="Card image cap">
						</a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card mb-3 box-shadow border-dark">
						<a class="charId">
							<img class="img-fluid card-img-top" src="./images/master_chief.jpg" alt="Card image cap">
						</a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card mb-3 box-shadow border-dark">
						<a class="charId">
							<img class="img-fluid card-img-top" src="./images/river-tam.jpg" alt="Card image cap">
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<form class="create-form mx-auto text-center">
					<div class="form-group">
						<label for="name">Character Name:</label>
						<input type="text" id="char-name">
					</div>
					<button id="char-create" type="submit">Create Your Character!</button>
				</form>
			</div>
		</div>
	</div>
</main>