<link rel="stylesheet" href="/css/style.css">



<div class="container">
    <div class="split left">
        <h1>Space Rats</h1>

        <button type="button" class="btn btn-primary" style="background-color:transparent" data-toggle="modal" data-target="#exampleModalCenter">
            Learn More!
        </button>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Now this is a story all about how My life got flipped-turned upside down And I'd like to take a minute Just sit right there
                        I'll tell you how I became the prince of a town called Bel-Air.....
                    </div>

                </div>
            </div>
        </div>
    </div>



    <div class="split right">
        <h1>your adventure begins...</h1>
        <button type="button" class="btn btn-primary" style="background-color:transparent" data-toggle="modal" data-target="#exampleModal">
            Continue to start game...
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Begin here!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="modal-body">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a data-toggle="tab" href="#home">Signup</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#login">Login</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="home" class="tab-pane fade in active">
                                    {{!-- Passport signup form --}}
                                    <form id="signup" name="signup" method="post" action="/signup">
                                        <div class="form-group">
                                            <label for="username">Username</label>
                                            <input name="username" type="text" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input name="password" type="password" class="form-control" />
                                        </div>
                                        <input class="btn-primary" type="submit" value="Sign Up" />
                                    </form>
                                </div>
                                <div id="login" class="tab-pane fade">
                                    <!-- Login Form Code Here -->
                                    <form id="signin" name="signin" method="post" action="/signin">
                                        <div class="form-group">
                                            <label for="username">Username</label>
                                            <input name="username" type="text" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input name="password" type="password" class="form-control" />
                                        </div>
                                        <input class="btn-primary" type="submit" value="Sign In" />
                                    </form>

                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
    {{!--
    <script src="/public/js/game.js"></script> --}} {{!--
    <div class="alert" role="alert">
        This is an alert!
    </div> --}}


    <footer>
        <div class="container col-sm-10 content-center">
            <div class="col-md-row">
                <p>Developed by Matt Killian Ryan Krug RJ Vasquez Will Young &copy; Copyright</p>
            </div>
        </div>
    </footer>