<div class="container">
    <div class="split left">
        <h1>space rats</h1>

        <button type="button" class="btn btn-primary" style="background-color:transparent" data-toggle="modal" data-target="#exampleModalCenter">
            Learn More!
        </button>
    </div>

    <div class="split right">
        <h1>your adventure begins...</h1>
        <button type="button" class="btn btn-primary" style="background-color:transparent" data-toggle="modal" data-target="#exampleModal">
            Continue to start game...
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{!-- Passport signup form --}}
                        <form id="signup" name="signup" method="post" action="/signup">
                            <div class="form-group">
                                <label for="username">Username</label>
		                        <input name="username" type="text" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
		                        <input name="password" type="password" class="form-control"/>
                            </div>
                            {{!-- <button class="btn btn-primary" type="submit">Sign Up</button> --}}
		                    {{!-- <input class="btn" type="submit" value="Sign Up" /> --}}
                            <input class="btn-primary" type="submit" value="Sign Up" />
	                    </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-secondary" data-dismiss="modal">Close</button>
                        
                        {{!-- <button type="submit" class="btn-primary">Sign Up</button> --}}
                    </div>
                </div>
            </div>
        </div>


    </div>
    {{!--
    <script src="/public/js/game.js"></script> --}} {{!--
    <div class="alert" role="alert">
        This is an alert!
    </div> --}}


    <footer>
        <div class="container col-sm-10 content-center">
            <div class="col-md-row">
                <p>Developed by Matt Killian Ryan Krug RJ Vasquez &copy; Copyright</p>
            </div>
        </div>
    </footer>