<link rel="stylesheet" href="/css/storystyle2.css">

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3" id="bsolid">
				<div class="card border-dark mb-3" style="width: 10rem;" id="playercard">
					<img class="card-img-top" src={{avatar}} alt="Card image cap">
				</div>
				<h1 class="storyh1">
					{{character}}
				</h1>
				<button type="button" class="btn btn-danger" id="health">
					Health
					<span class="badge badge-light">{{health}}</span>
				</button>
				<button type="button" class="btn btn-primary" id="sanity">
					Sanity
					<span class="badge badge-light">10</span>
				</button>
			</div>
			<div class="col-sm-9 mx-auto text-center">
				<div class="card border-dark mb-3" style="width: 50rem;" id="card1">
					<img class="card-img-top" src="./images/control.jpg" alt="Card image cap">
					<div class="card-body">
						<p class="card-text"> "Excellent! Mission control will prepare for your launch ASAP.</p>
					</div>
				</div>
				<button type="button" data-stage=3 class="gameChoice btn btn-outline-light ">Let's Go!</button>
			</div>
		</div>
	</div>
</body>