<link rel="stylesheet" href="/css/storystyle2.css">



<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3" id="bsolid">
				<div class="card border-dark mb-3" style="width: 10rem;" id="playercard">
					<img class="card-img-top" src="./images/hermes.png" alt="Card image cap">
					<!-- <div class="card-body">
						<p class="card-text">Player 1</p>
					</div> -->

				</div>

				<h1 class="storyh1">
					{{character}}

				</h1>

				<button type="button" class="btn btn-danger" id="health">
					Health
					<span class="badge badge-light">{{health}}</span>
					<!-- <span class="sr-only">unread messages</span> -->
				</button>

				<button type="button" class="btn btn-primary" id="sanity">
					Sanity
					<span class="badge badge-light">10</span>
					<!-- <span class="sr-only">unread messages</span> -->
				</button>
			</div>
			<div class="col-sm-9">
				<div class="card border-dark mb-3" style="width: 50rem;" id="card1">
					<img class="card-img-top" src="./images/control.jpg" alt="Card image cap">
					<div class="card-body">
						<p class="card-text"> "Excellent! Mission control will prepare for your launch ASAP.</p>
					</div>
				</div>
				<div class="centered">
					<a href="/result1">
						<button type="button" class="btn btn-outline-light ">Yes</button>
					</a>


					<a href="/result2">
						<button type="button" class="btn btn-outline-light ">No</button>
					</a>
				</div>
			</div>

		</div>

</body>