<link rel="stylesheet" href="/css/storystyle2.css">

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3" id="bsolid">
				<div class="card border-dark mb-3" style="width: 10rem;" id="playercard">
					<img class="card-img-top" src="{{avatar}}" alt="Card image cap">
				</div>
				<h1 class="storyh1">
					{{character}}
				</h1>
				<button type="button" class="btn btn-danger" id="health">
					Health
					<span class="badge badge-light">{{health}}</span>
				</button>
				<button type="button" class="btn btn-primary" id="sanity">
					Sanity
					<span class="badge badge-light">10</span>
				</button>
			</div>
			<div class="col-sm-9 mx-auto text-center">
				<div class="card border-dark mb-3" style="width: 50rem;" id="card1">
					<img class="card-img-top" src="./images/earth-space.jpg" alt="Card image cap">
					<div class="card-body">
						<p class="card-text">As you were going to push the button, the alarm shuts off and you are treated to a beautiful view. It turns out it
							was just a bug in the software. Providing further proof that programmers shouldn't be trusted.</p>
					</div>
				</div>
				<button type="button" data-stage=6 class="gameChoice btn btn-outline-light ">Continue</button>
			</div>
		</div>
	</div>
</body>