<link rel="stylesheet" href="/css/storystyle.css">

<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">


<main role="main">


	<section class="jumbotron text-center">
		<div class="container">
			<h1 class="jumbotron-heading">Select your ship!</h1>
		</div>
	</section>


	<div class="album">
		<div class="container">
			<div class="row">

				<div class="col-md-3">
					<div class="card mb-3 border-dark">
						<a class="shipId">
							<img class="card-img-top" src="./images/ships/falcon.jpg" alt="Card image cap">
						</a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card mb-3 box-shadow border-dark">
						<a class="shipId">
							<img class="card-img-top border-dark" src="./images/ships/Firefly.jpg" alt="Card image cap">
						</a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card mb-3 box-shadow border-dark">
						<a class="shipId">
							<img class="card-img-top border-dark" src="./images/ships/nebula.jpg" alt="Card image cap">
						</a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card mb-3  border-dark">
						<a class="shipId">
							<img class="card-img-top" src="./images/ships/USS_Enterprise.jpg" alt="Card image cap">
						</a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card mb-3 box-shadow border-dark">
						<a class="shipId">
							<img class="card-img-top" src="./images/ships/Bird-of-Prey.png" alt="Card image cap">
						</a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card mb-3 box-shadow border-dark">
						<a class="shipId">
							<img class="card-img-top" src="./images/ships/2001.jpg" alt="Card image cap">
						</a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card mb-3 box-shadow border-dark">
						<a class="shipId">
							<img class="card-img-top" src="./images/ships/cube.jpg" alt="Card image cap">
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<button id="ship-create" type="submit">Ready for liftoff!</button>
				</div>
			</div>
		</div>
	</div>
</main>