body {
	background-color: black;
}

h1 {
	/* margin: 0 auto; */
	color: white;
	text-align: center;
}

#card1 {
	margin: 0 auto;
	/* Added */
	float: none;
	/* Added */
	margin-top: 10px;
	margin-bottom: 10px;
	/* align-content: center; */
}

#bsolid {
	margin-top: 20px;
	border-right: 5rem;
	border-style: solid;
	border-color: white;
	border: 30px;
	height: 1vh;
}

.col-sm-10 {
	height: 100%;
	/* border-left: 2px solid rgb(128, 128, 128); */
}

#playercard {
	/* padding: 20px; */
	margin: 0 auto;
	/* Added */
	float: none;
	/* Added */
	margin-bottom: 10px;
	margin-top: 2rem
	/* align-content: center; */
}

#centered {
	/* margin-left: 800px; */
	margin: auto;
}

#btnrow {
	width: 100%;

}